<% include ../includes/header %>
    <main>
        <div class="row jumbotron">
        	<div class="col-md-8">
	            <h3><%= imagev.nom %></h3>
	            <button id="info" type="button" class="btn btn-info">Info</button>
	            <button id="redi" type="button" class="btn btn-warning">Redimentioner</button>
	            <form style="display:inline" action="/image/<%= imagev.id %>?_method=DELETE" method="post">
		            <input type="submit" class="btn btn-danger" value="Supprimer"/>
	            </form>
	            <button id="copy" type="button" class="btn btn-info">Copier</button>
	            <button id="edit" type="button" class="btn btn-warning">Editer</button>
            </div>
            <div class="col-md-4 hidden" id="info-h">
            	<dl class="dl-horizontal">
					<dt>Nom :</dt>
					<dd><%= imagev.nom %></dd>
				</dl>
            	<dl class="dl-horizontal">
					<dt>Date d'ajout :</dt>
					<dd><%= imagev.date_a %></dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Date de création :</dt>
					<dd><%= imagev.date_c %></dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Date de modification :</dt>
					<dd><%= imagev.date_m %></dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>Type :</dt>
					<dd><%= imagev.type %></dd>
				</dl>
            </div>
        </div>
        <img src="<%= "/" + imagev.path %>" alt="<%= imagev.path %>" width="100%"/>
    </main>
<% include ../includes/footer %>

    <script>
        $('#info').click(function(){ 
        	if (document.getElementById("info-h").className == "col-md-4 hidden")
        		document.getElementById("info-h").className = "col-md-4 visible";
        	else
        		document.getElementById("info-h").className = "col-md-4 hidden";
        });
    </script>